h1{
    padding-top: 30px;
}

#p1{
    font-family: sans-serif;
    font-weight: bold;

}

#p2{
    font-family: serif;
    font-size:large;
    text-align: center;
}

#p3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    text-decoration:overline;

}

#p4{
    font-family:'Syne Tactile';
    font-size: larger;
    font-weight:lighter;
    color: orange;
    letter-spacing: 3px;
    line-height: 30px;

}

h2{
   
    padding-top: 30px;
   
}